vim/tmp/backup/*
vim/tmp/swap/*
!vim/tmp/backup/placeholder
!vim/tmp/swap/placeholder
vim/autoload/*
vim/plugged/*
vim/undo/*
vim/vim
vim/session/*
vim/colors/*
!vim/colors/install_colors
vim/bundle/*
!vim/bundle/vim-addon-manager
vim/syntax/*
vim/.netrwhist
*.swo
*.swp
*.~
git-completion.bash
